


.quadrado {
    width: 660px;
    height: 768px;
    margin-top: -20px;
    margin-left: -20px;
    background-color: #9a2b2b;
    
}


.imagem1 {
    width: 650px;
    height: auto; /* Ajusta a altura automaticamente para manter a proporção */
    position: absolute;
    left: 0;
    top: 0%; /* Ajuste o valor conforme necessário */
     /* Centraliza verticalmente */
     transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
      /* Efeito de transição suave */
  }

  .imagem1:hover {
    border-radius: 40px;
    top: -7%;
    transform: scale(0.80); /* Diminui para 80% do tamanho original */
  }
